{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Title
    {% endblock %}
    </title>
    <link href="/static/css/bootstrap-grid.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/account.js"></script>
    <script src="/static/js/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {% block source %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;padding-left: 300px;padding-right: 300px;">
        <a class="navbar-brand" href="/">首页</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if '/article/' in request.path %} text-bold {% endif %}" id="article">
                    <a class="nav-link" href="{% url 'articlelist' %}">学习中心</a>
                </li>
                <li class="nav-item {% if '/resource/' in request.path %} text-bold {% endif %}" id="resource">
                    <a class="nav-link" href="{% url 'resource' %}">资源中心</a>
                </li>
                <li class="nav-item {% if '/discussion/' in request.path %} text-bold {% endif %}" id="discussion">
                    <a class="nav-link" href="{% url 'discussion_list' %}">讨论区</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if request.session.user_name %}
                <li class="nav-item dropdown" id="personal_center">
                    <a class="nav-link dropdown-toggle" href="{% url 'user_show_info' request.session.user_id %}" id="navbar-dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        {{ request.session.user_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown" style="min-width: 100px;">
                        <a class="dropdown-item" href="{% url 'profile'%}">个人中心</a>
                        <a class="dropdown-item" href="{% url 'article_manager' %}">管理中心</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">退出</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">登录</a>
                    <a class="nav-item" href="{% url 'register' %}" tabindex="-1" aria-disabled="true">注册</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block tool_bar %}
        {% endblock %}
        {% block content %}
            {% block navbar %}
            {% endblock %}
            <div class="row">
                <div class="col-9">
                {% block left_content %}
                {% endblock %}
                </div>

                <div class="col-3">
                {% block right_content %}
                {% endblock %}
                </div>
            </div>
        {% endblock content %}
    </div>
</body>
</html>